.idea/**/*.xml
.idea/
**/target/
**/*.rs.bk
**/.vscode*
/workspace.xml
**/*.code-workspace
test-peripheral/.python-version
test-peripheral/.venv/
test-peripheral/.west/
test-peripheral/deps/
test-peripheral/zephyr/.cache
test-peripheral/zephyr/build*
tests/android/gradle/
tests/android/gradlew
.worktrees/